streamlit==1.32.2

pyarrow==14.0.2
datasets==2.19.2
transformer-lens==1.12.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchvision==0.16.2+cpu
torchaudio==2.1.2+cpu

numpy
pandas
tqdm
einops
plotly
matplotlib
scipy
